---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-ai
  namespace: ai
spec:
  interval: 1h
  chart:
    spec:
      chart: local-ai
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: go-skynet
        namespace: ai
      interval: 1h
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    deployment:
      strategy:
        type: Recreate
      image:
        repository: quay.io/go-skynet/local-ai
        tag: v3.10.1-gpu-nvidia-cuda-12
      runtimeClassName: nvidia
    resources:
      requests:
        cpu: 200m
        memory: 4Gi
        nvidia.com/gpu: 1
      limits:
        memory: 8Gi
        nvidia.com/gpu: 1
    ingress:
      enabled: false
    persistence:
      models:
        enabled: true
        type: pvc
        storageClass: qnap-nfs
        accessModes:
          - ReadWriteMany
        size: 10Gi
        mountPath: /models
      output:
        enabled: true
        type: pvc
        storageClass: qnap-nfs
        accessModes:
          - ReadWriteMany
        size: 5Gi
        mountPath: /tmp/generated/images
