---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/core.k8sgpt.ai/k8sgpt_v1alpha1.json
apiVersion: core.k8sgpt.ai/v1alpha1
kind: K8sGPT
metadata:
  name: k8sgpt-ollama
  namespace: k8sgpt-operator-system
spec:
  version: v0.4.27
  analysis:
    interval: 3h
  ai:
    enabled: true
    backend: localai
    baseUrl: http://ollama:11434/v1
    model: deepseek-r1:1.5b
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi
