---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    remediation:
      retries: 3
    crds: Skip
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
    crds: Skip
  values:
    cleanPrometheusOperatorObjectNames: true

    alertmanager:
      alertmanagerSpec:
        externalUrl: https://alertmanager.${SECRET_DOMAIN}
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: qnap-nfs
              resources:
                requests:
                  storage: 1Gi
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            memory: 128Mi

    kubeEtcd:
      service:
        selector:
          component: kube-apiserver # etcd runs on control plane nodes in Talos

    kubeProxy:
      enabled: false # Cilium replaces kube-proxy

    prometheus:
      prometheusSpec:
        externalUrl: https://prometheus.${SECRET_DOMAIN}
        externalLabels:
          cluster: clouddrop
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        retention: 14d
        retentionSize: 40GB
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            memory: 8Gi
        outOfOrderTimeWindow: 30m
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: qnap-nfs
              resources:
                requests:
                  storage: 40Gi

    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true

    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      prometheus:
        monitor:
          enabled: true
      rbac:
        extraRules:
          - apiGroups:
              - source.toolkit.fluxcd.io
              - kustomize.toolkit.fluxcd.io
              - helm.toolkit.fluxcd.io
            resources:
              - gitrepositories
              - buckets
              - helmrepositories
              - helmcharts
              - ocirepositories
              - kustomizations
              - helmreleases
            verbs: ["list", "watch"]
      customResourceState:
        enabled: true
        config:
          spec:
            resources:
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: GitRepository
                metricNamePrefix: gotk
                metrics:
                  - name: resource_info
                    help: "Flux GitRepository info"
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          exported_namespace: [metadata, namespace]
                          ready: [status, conditions, "[type=Ready]", status]
                          suspended: [spec, suspend]
                          revision: [status, artifact, revision]
                          url: [spec, url]
                commonLabels:
                  customresource_group: source.toolkit.fluxcd.io
                  customresource_kind: GitRepository
                  customresource_version: v1
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: HelmRepository
                metricNamePrefix: gotk
                metrics:
                  - name: resource_info
                    help: "Flux HelmRepository info"
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          exported_namespace: [metadata, namespace]
                          ready: [status, conditions, "[type=Ready]", status]
                          suspended: [spec, suspend]
                          revision: [status, artifact, revision]
                          url: [spec, url]
                commonLabels:
                  customresource_group: source.toolkit.fluxcd.io
                  customresource_kind: HelmRepository
                  customresource_version: v1
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1beta2
                  kind: Bucket
                metricNamePrefix: gotk
                metrics:
                  - name: resource_info
                    help: "Flux Bucket info"
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          exported_namespace: [metadata, namespace]
                          ready: [status, conditions, "[type=Ready]", status]
                          suspended: [spec, suspend]
                          revision: [status, artifact, revision]
                          bucket_name: [spec, bucketName]
                commonLabels:
                  customresource_group: source.toolkit.fluxcd.io
                  customresource_kind: Bucket
                  customresource_version: v1beta2
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1beta2
                  kind: OCIRepository
                metricNamePrefix: gotk
                metrics:
                  - name: resource_info
                    help: "Flux OCIRepository info"
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          exported_namespace: [metadata, namespace]
                          ready: [status, conditions, "[type=Ready]", status]
                          suspended: [spec, suspend]
                          revision: [status, artifact, revision]
                          url: [spec, url]
                commonLabels:
                  customresource_group: source.toolkit.fluxcd.io
                  customresource_kind: OCIRepository
                  customresource_version: v1beta2
              - groupVersionKind:
                  group: kustomize.toolkit.fluxcd.io
                  version: v1
                  kind: Kustomization
                metricNamePrefix: gotk
                metrics:
                  - name: resource_info
                    help: "Flux Kustomization info"
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          exported_namespace: [metadata, namespace]
                          ready: [status, conditions, "[type=Ready]", status]
                          suspended: [spec, suspend]
                          revision: [status, lastAppliedRevision]
                          source_name: [spec, sourceRef, name]
                commonLabels:
                  customresource_group: kustomize.toolkit.fluxcd.io
                  customresource_kind: Kustomization
                  customresource_version: v1
              - groupVersionKind:
                  group: helm.toolkit.fluxcd.io
                  version: v2
                  kind: HelmRelease
                metricNamePrefix: gotk
                metrics:
                  - name: resource_info
                    help: "Flux HelmRelease info"
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          exported_namespace: [metadata, namespace]
                          ready: [status, conditions, "[type=Ready]", status]
                          suspended: [spec, suspend]
                          revision: [status, history, "0", chartVersion]
                          chart_name: [status, history, "0", chartName]
                          chart_source_name: [spec, chartRef, name]
                commonLabels:
                  customresource_group: helm.toolkit.fluxcd.io
                  customresource_kind: HelmRelease
                  customresource_version: v2

    grafana:
      enabled: false
      forceDeployDashboards: false
