---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos-store
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: bjw-s-labs
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      thanos-store:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: quay.io/thanos/thanos
              tag: v0.40.1
            command: ["/bin/thanos"]
            args:
              - store
              - --grpc-address=0.0.0.0:10901
              - --http-address=0.0.0.0:10902
              - --data-dir=/var/thanos/store
              - --objstore.config-file=/etc/thanos/objstore.yml
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /-/healthy
                    port: 10902
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /-/ready
                    port: 10902
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
    service:
      app:
        controller: thanos-store
        ports:
          http:
            port: 10902
          grpc:
            port: 10901
    persistence:
      data:
        type: persistentVolumeClaim
        storageClass: qnap-nfs
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /var/thanos/store
      objstore-config:
        type: secret
        name: thanos-objstore-secret
        globalMounts:
          - path: /etc/thanos
            readOnly: true
