apiVersion: apps/v1
kind: Deployment
metadata:
  name: zap2xml
  namespace: media
  labels:
    app.kubernetes.io/name: zap2xml
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: zap2xml
  template:
    metadata:
      labels:
        app.kubernetes.io/name: zap2xml
    spec:
      containers:
        - name: zap2xml
          image: ghcr.io/jef/zap2xml:v2.2.0
          env:
            - name: POSTAL_CODE
              value: "55448"
            - name: TZ
              value: "America/Chicago"
            - name: LINEUP_ID
              value: "USA-OTA55448"
            - name: TIMESPAN
              value: "72"
            - name: PREF
              value: "h"
            - name: OUTPUT_FILE
              value: "/data/zap2xml.xml"
          volumeMounts:
            - name: epg-data
              mountPath: /data
      volumes:
        - name: epg-data
          persistentVolumeClaim:
            claimName: jellyfin-epg-data
