---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: audiobookshelf
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: bjw-s-app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      audiobookshelf:
        strategy: RollingUpdate
        containers:
          audiobookshelf:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: "2.32.1"
            env:
              TZ: America/Chicago
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 2
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 2
                  failureThreshold: 3
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 1024Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: audiobookshelf
        ports:
          http:
            port: 80
            targetPort: 80
            protocol: TCP
    serviceMonitor:
      app:
        endpoints:
          - port: http
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: audiobookshelf-config-nfs
        globalMounts:
          - path: /config
      metadata:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: audiobookshelf-metadata-nfs
        globalMounts:
          - path: /metadata
      audiobooks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: audiobookshelf-audiobooks-smb
        globalMounts:
          - path: /audiobooks
      podcasts:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: audiobookshelf-podcasts-nfs
        globalMounts:
          - path: /podcasts
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
