---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-config
data:
  # This file will be mounted into the container
  my.cnf: |
    [mariadb]
    innodb_use_native_aio = 0
    # Optimizes performance for NFS storage
    skip_external_locking = 1
    skip_name_resolve = 1

    # Optional: Adjusting these can also help with NFS latency
    innodb_flush_log_at_trx_commit = 2
    innodb_log_buffer_size = 32M
