---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: booklore-mariadb-v2
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: qnap-nfs-db
