---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: dcgm-exporter
  namespace: flux-system
spec:
  targetNamespace: kube-system
  path: "./kubernetes/apps/kube-system/dcgm-exporter/app/"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false