---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  namespace: security
spec:
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  hostnames:
    - "auth.${SECRET_DOMAIN}"
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
