---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-nfs-v2
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: qnap-nfs-db-sync
