---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nvidia-device-plugin
  namespace: flux-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: nvidia-device-plugin
  path: "./kubernetes/apps/kube-system/nvidia-device-plugin/app/"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false