---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dcgm-exporter
spec:
  interval: 1h
  chart:
    spec:
      chart: dcgm-exporter
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: nvidia-gpu
      interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    serviceMonitor:
      enabled: true
      namespace: kube-system
      interval: 1m
      scrapeTimeout: 30s
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 512Mi