---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dcgm-exporter
  namespace: kube-system
spec:
  interval: 1h
  chart:
    spec:
      chart: dcgm-exporter
      version: "4.6.0"
      sourceRef:
        kind: HelmRepository
        name: nvidia-gpu
        namespace: kube-system
  values:
    serviceMonitor:
      enabled: true
      namespace: kube-system
      interval: 1m
      scrapeTimeout: 30s
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 512Mi