---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: audiobookrequest-config-nfs
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: nfs-csi
