---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: 8gears-n8n
  namespace: flux-system
spec:
  interval: 1h
  url: https://8gears.container-registry.com/chartrepo/library
