---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unpoller
  namespace: observability
  labels:
    app.kubernetes.io/name: unpoller
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: unpoller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: unpoller
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
      containers:
        - name: unpoller
          image: ghcr.io/unpoller/unpoller:v2.24.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9130
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: UP_POLLER_DEBUG
              value: "false"
            - name: UP_PROMETHEUS_HTTP_LISTEN
              value: "0.0.0.0:9130"
            - name: UP_INFLUXDB_DISABLE
              value: "true"
            - name: UP_LOKI_DISABLE
              value: "true"
            - name: UP_UNIFI_CONTROLLER_0_URL
              valueFrom:
                secretKeyRef:
                  name: unpoller-config
                  key: UP_UNIFI_CONTROLLER_0_URL
            - name: UP_UNIFI_CONTROLLER_0_USER
              valueFrom:
                secretKeyRef:
                  name: unpoller-config
                  key: UP_UNIFI_CONTROLLER_0_USER
            - name: UP_UNIFI_CONTROLLER_0_PASS
              valueFrom:
                secretKeyRef:
                  name: unpoller-config
                  key: UP_UNIFI_CONTROLLER_0_PASS
            - name: UP_UN_UNIFI_CONTROLLER_0_SAVE_DPI
              value: "true"
            - name: UP_UNIFI_CONTROLLER_0_SITES
              value: "all"
            - name: UP_UNIFI_CONTROLLER_0_VERIFY_SSL
              value: "false"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
      volumes: []
