---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: k8sgpt-operator
  namespace: ai
spec:
  targetNamespace: k8sgpt-operator-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: k8sgpt-operator
  path: ./kubernetes/apps/ai/k8sgpt-operator/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  wait: true
  dependsOn:
    - name: ollama
      namespace: ai
  decryption:
    provider: sops
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false
