---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8sgpt-operator
  namespace: ai
spec:
  interval: 1h
  chart:
    spec:
      chart: k8sgpt-operator
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: k8sgpt
        namespace: ai
      interval: 1h
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
      folder:
        annotation: grafana_folder
        name: AI
      label:
        key: grafana_dashboard
        value: "1"
    controllerManager:
      manager:
        containerSecurityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 256Mi
      kubeRbacProxy:
        containerSecurityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 5m
            memory: 64Mi
          limits:
            memory: 128Mi
      podSecurityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532