---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/core.k8sgpt.ai/k8sgpt_v1alpha1.json
apiVersion: core.k8sgpt.ai/v1alpha1
kind: K8sGPT
metadata:
  name: k8sgpt-ollama
  namespace: ai
spec:
  version: v0.4.27
  ai:
    enabled: true
    backend: localai
    baseUrl: http://ollama:11434
    model: deepseek-r1:1.5b
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi
  securityContext:
    runAsNonRoot: true
    runAsUser: 65532
    runAsGroup: 65532
    fsGroup: 65532
  containerSecurityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities: { drop: ["ALL"] }
